<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />

    <title>Pikchat</title>
    
    <link href="styles/css/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="styles/font/roboto-regular/font.css" type="text/css" rel="stylesheet" />
    <link href="styles/font/roboto-light/font.css" type="text/css" rel="stylesheet" />
    <link href="styles/css/pikchat.css" type="text/css" rel="stylesheet" />
    <link href="styles/main.css" type="text/css" rel="stylesheet" />
        
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script src="bower_components/jquery/dist/jquery.js"></script>
  </head>
  <body ng-app="clientApp">
    <div id="overlay-new-picture" class="overlay">
    <div class="overlay-wrapper">
        <div id="new-picture-box" class="panel panel-default">
          <div class="drawingTool">
            <div ng-repeat="c in ['#222222', '#ff2222', '#22ff22', '#2222ff', '#ffff22', '#22ffff', '#9911dd', '#339900', '#ff7766']" id="colorBar">
                <a href="#SketchPad" data-color="{{c}}"><div class="color" style='background-color: {{c}}'></div></a>
            </div>
            <div ng-repeat="size in [2,4,8,15,30]" id="toolBar">
              <a href="#SketchPad" data-size="{{size}}"><div class="tool">{{size}}</div></a>
            </div>
            <div id="downloadButton">
              <a href="#SketchPad" data-clr="yes" id="downlaodButton" class="tool" ng-click="savePicture()" value="Save">&#8681;</a>
            </div>
            <div id="canvas">
              <canvas id="SketchPad" ng-model="picture" width="600" height="400"></canvas>
            
              <script type="text/javascript">
                $(function() {
                  $('#SketchPad').sketch();
                });
              </script>
            </div>
          </div>
            <button type="button" class="pull-right btn btn-default">Send</button>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div id="overlay-view-picture" class="overlay">
    <div class="overlay-wrapper">
        <div id="view-picture-box" class="panel panel-default">
            <img class="img-rounded" src="" />
        </div>
    </div>
</div>
<div id="page-wrap">
    <!-- Page Header -->
    <div id="header">
        <!-- Navigation -->
        <div class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="images/svg/logo-full.svg" />
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-links">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Profile</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
      <div ng-view=""></div>
  </div>
    
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/pictures.js"></script>
    <script src="scripts/controllers/picture-add.js"></script>
    <script src="scripts/controllers/picture-view.js"></script>
    <script src="scripts/controllers/picture-edit.js"></script>
    <script src="scripts/controllers/picture-delete.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/register.js"></script>
    <script src="scripts/services/authentication.js"></script>
    <script src="scripts/sketch.js" type="text/javascript"></script>
    <!--<script src="scripts/slideout.js" type="text/javascript"></script>-->
    
    <!--<script src="scripts/jquery.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>-->

</body>
</html>
