<div class="drawingTool">
  <div ng-repeat="c in ['#222222', '#ff2222', '#22ff22', '#2222ff', '#ffff22', '#22ffff', '#9911dd', '#339900', '#ff7766']" id="colorBar">
      <a href="#SketchPad" data-color="{{c}}"><div class="color" style='background-color: {{c}}'></div></a>
  </div>
  <div ng-repeat="size in [2,4,8,15,30]" id="toolBar">
    <a href="#SketchPad" data-size="{{size}}"><div class="tool">{{size}}</div></a>
  </div>
  <div id="downloadButton">
    <a href="#SketchPad" data-download='png' id="downlaodButton" class="tool">&#8681;</a>
  </div>
  <div id="canvas">
    <canvas id="SketchPad" width="600" height="600"></canvas>
   
    <script type="text/javascript">
      $(function() {
        $('#SketchPad').sketch();
      });
    </script>
  </div>
</div>

<div id="chat" class="padded-content">
  <h3>Harriet <span class="small">Active now</span></h3>
  <div class="chat-item chat-item-left">
    <p class="chat-item-from">Harriet</p>
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Some image here.</p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="chat-item chat-item-right">
    <p class="chat-item-from">You</p>
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Some image here.</p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>