<!--<div class="drawingTool">
  <div ng-repeat="c in ['#222222', '#ff2222', '#22ff22', '#2222ff', '#ffff22', '#22ffff', '#9911dd', '#339900', '#ff7766']" id="colorBar">
      <a href="#SketchPad" data-color="{{c}}"><div class="color" style='background-color: {{c}}'></div></a>
  </div>
  <div ng-repeat="size in [2,4,8,15,30]" id="toolBar">
    <a href="#SketchPad" data-size="{{size}}"><div class="tool">{{size}}</div></a>
  </div>
  <div id="downloadButton">
    <a href="#SketchPad" data-clr="yes" id="downlaodButton" class="tool" ng-click="savePicture()" value="Save">&#8681;</a>
  </div>
  <div id="canvas">
    <canvas id="SketchPad" ng-model="picture" width="600" height="400"></canvas>
   
    <script type="text/javascript">
      $(function() {
        $('#SketchPad').sketch();
      });
    </script>
  </div>
</div>
-->
<!-- Friends List -->
<!-- Main Page Content -->
<div id="overlay-new-picture" class="overlay">
    <div class="overlay-wrapper">
        <div id="new-picture-box" class="panel panel-default">
          <div class="drawingTool">
            <div ng-repeat="c in ['#222222', '#ff2222', '#22ff22', '#2222ff', '#ffff22', '#22ffff', '#9911dd', '#339900', '#ff7766']" id="colorBar">
                <a href="#SketchPad" data-color="{{c}}"><div class="color" style='background-color: {{c}}'></div></a>
            </div>
            <div ng-repeat="size in [2,4,8,15,30]" id="toolBar">
              <a href="#SketchPad" data-size="{{size}}"><div class="tool">{{size}}</div></a>
            </div>
            <div id="downloadButton">
              <a href="#SketchPad" data-clr="yes" id="downlaodButton" class="tool" ng-click="savePicture()" value="Save">&#8681;</a>
            </div>
            <div id="canvas">
              <canvas id="SketchPad" ng-model="picture" width="600" height="400"></canvas>
            
              <script type="text/javascript">
                $(function() {
                  $('#SketchPad').sketch();
                });
              </script>
            </div>
          </div>
            <button type="button" class="pull-right btn btn-default">Send</button>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
    <div id="content-wrap">
                <div id="friends-list-container">
                    <h4>Friends</h4>
                    <ul class="pull-left col-xs-8">
                        <li ng-repeat="user in users | filter: nameFilter">
                            <a href="#" ng-click="getPictures(user)">
                            <img class="img-circle" src="https://upload.wikimedia.org/wikipedia/en/7/70/Shawn_Tok_Profile.jpg" /></a>
                        </li>
                    </ul>
                    <div class="input-group col-xs-4 pull-right">
                        <input type="text" class="form-control" ng-model="nameFilter" placeholder="Search..."></input>
                        <span class="input-group-btn">
                            <button id="btn-search" type="button" class="btn btn-default pull-right">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- Chat -->
                <div id="chat">
                    <div id="chat-header">
                        <img id="chat-arrow" src="images/png/chat-arrow.png" />
                        <h2> {{receiver.name}} <span class="small">Offline</span></h2>
                        <div id="chat-header-buttons" class="btn-group">
                            <button id="btn-goto-chat" type="button" class="btn btn-default disabled">
                                <span class="glyphicon glyphicon-comment"></span> 
                            </button>
                            <button id="btn-goto-profile" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-user"></span> 
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="chat-body">
                        <p><a href="#" id="chat-new-picture">New Picture</a></p>
                        
                        <div class="chat-item" ng-repeat="picture in senderPictures.concat(receiverPictures) | orderBy : '_id' : true">
                            <img ng-class="picture.receiver != currentUser.email ? 'img-circle right' : 'img-circle left'" src="https://upload.wikimedia.org/wikipedia/en/7/70/Shawn_Tok_Profile.jpg">
                            <a href="#">
                                <img ng-class="picture.receiver != currentUser.email ? 'img-rounded pull-right' : 'img-rounded pull-left'" ng-href="/#/picture/{{ picture._id }}" ng-src="{{picture.img}}">
                            </a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div id="friend-profile-body">
                        <strong>Robert's Sent Images</strong>
                        <div id="picture-list-container" class="container">
                            <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="picture in pictures">
                                <div class="picture-list-item panel panel-default">
                                    <div class="panel-body">
                                        <img class="img-responsive img-rounded" ng-href="/#/picture/{{ picture._id }}" ng-src="{{picture.img}}" />
                                        <a ng-href="/#/picture/{{ picture._id }}/delete" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="scripts/pikchat.js"></script>