<!--<form ng-submit="vm.onSubmit()">
  <div class="form-group">
    <label for="name">Username</label>
    <input type="text" class="form-control" id="name" placeholder="Enter your name" ng-model="vm.credentials.name">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="vm.credentials.email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.credentials.password">
  </div>
  <button type="submit" class="btn btn-default">Register!</button>
</form>-->
<style>
  #header {
    display: none;
  }
  
  html, body {
    height: 100%;
}

.main {
    height: 100%;
    width: 100%;
    display: table;
}

.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

body {
    background: #b90504;
    font-family: 'Roboto Light';
    position: relative;
}

img {
    margin: 0 auto;
    margin-top: 5px;
    display: block;
    width: 70%;
    max-width: 500px;
}

#button-container {
    width: 100%;
    margin-top: 3%;
    text-align: center;
}

#register-container {
    width: 70%;
    margin: 3% auto;
    color: #f6f6f6;
}

button {
    width: 130px;
}

button.btn-splash {
    background: #b90504;
    color: #f6f6f6;
    font-size: 1.5em;
    border-radius: 5px;
    border: 2px solid #f6f6f6;
    margin: 0 5px;
}

button.btn-splash:hover {
    background: #b93231;
    color: #fff;
    border-color: #fff;
}

#login-box {
    width: 350px;
    margin: 0 auto;
    z-index: 200;
}

.form-control {
    font-size: 1.5em;
    margin: 5px 0;
}

.form-group {
    margin-bottom: 0;
}

#overlay {
    z-index: 100;
    background: rgba(0,0,0,0.65);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.align-centre {
    text-align: center;
}</style>
<div class="main">
  <div class="wrapper">
      <img src="images/svg/logo-full.svg" alt="Pikchat Logo" />
      <div id="register-container">
          <h2>Getting Started</h2>
          <p>Pikchat is an online messaging service where you communicate using your own hand-drawn works of art! To sign up, enter the details below and click register.</p>
          <form role="form" ng-submit="vm.onSubmit()">
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Username" id="name" ng-model="vm.credentials.name"></input>
                  <input type="email" class="form-control" placeholder="Email" id="email" ng-model="vm.credentials.email"></input>
                  <input type="password" class="form-control" placeholder="Password" id="password" ng-model="vm.credentials.password"></input>
                  <div class="align-centre">
                      <button type="submit" class="btn btn-default">Register</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
<script src="scripts/pikchat-splash.js"></script>